html {
  font-size: 14px;
}

@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}

html {
  position: relative;
  min-height: 100%;
}

body {
  margin-bottom: 60px;
}

.form-floating > .form-control-plaintext::placeholder, .form-floating > .form-control::placeholder {
  color: var(--bs-secondary-color);
  text-align: end;
}

.form-floating > .form-control-plaintext:focus::placeholder, .form-floating > .form-control:focus::placeholder {
  text-align: start;
}

.btn-select-all {
    color: #ffffff !important; 
    border: 1px solid #6c757d;
    background-color: transparent;
    transition: all 0.2s ease-in-out;
}

.btn-select-all:hover {
    background-color: #ffffff;
    color: #000000 !important;
    border-color: #6c757d;
}

.btn-select-all:active, 
.btn-select-all:focus:active {
    background-color: #ffffff !important;
    color: #000000 !important;
    border-color: #ffffff;
}

.btn-select-all:focus {
    color: #ffffff !important;
    box-shadow: 0 0 0.5rem 0.05rem var(--bs-btn-bg);
}

.btn-unselect-all {
    color: #ffffff !important; 
    border: 1px solid #6c757d;
    background-color: transparent;
    transition: all 0.2s ease-in-out;
}

.btn-unselect-all:hover {
    background-color: #ffffff;
    color: #000000 !important;
    border-color: #6c757d;
}

.btn-unselect-all:active, 
.btn-unselect-all:focus:active {
    background-color: #ffffff !important;
    color: #000000 !important;
    border-color: #ffffff;
}

.btn-sell-selected{
  color: #DA292E; 
  border: 1px solid #DA292E; 
  background-color: transparent; 
  transition: all 0.2s ease-in-out;
}

.btn-sell-selected:hover {
  background-color: #DA292E; 
  color: #ffffff !important; 
  border-color: #DA292E;
}

.btn-sell-selected:active,
.btn-sell-selected:focus:active {
  background-color: #DA292E !important; 
  color: #ffffff !important; 
  border-color: #DA292E;
}

@media (max-width: 777px) {
    #multiSellBar .d-flex {
        justify-content: center !important;
        text-align: center;
    }
}

#points{
  display: flex;
  align-items: center;
  justify-content: flex-end;
  gap: 0.5rem;
}

#points>i {
  margin-bottom: 0.1rem;
}

#patient-email {
  display: flex;
  align-items: center;
  gap: 0.2rem;
}

/* Domyślny kolor (czarny) */
.dropdown-item.custom-therapist-link {
    color: green;
    font-weight: bold;
}

/* Kolor po najechaniu (zielony) */
.dropdown-item.custom-therapist-link:hover {
    background-color: green;
    color: white;
}